@media screen and (max-width: 786px) {
  .container{
    height: 91vh;
    width: 100vw;
    position: fixed;
    margin-top: 7vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
  }
}

@media screen and (min-width: 786px) {
  .container{
    position: fixed;
    top: 0;
    left: 220px;
    height: 100vh;
    padding-top: 5em;
    width: calc(100% - 500px);
    background-color: aliceblue;
  }
}