@media screen and (max-width: 786px) {
  .container{
    height: 91vh;
    width: 100vw;
    position: fixed;
    margin-top: 7vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: rgb(243, 243, 243);
    overflow-x: hidden;
  }
}

@media screen and (min-width: 786px) {
  
}