@media screen and (min-width: 786px) {
  .container{
    width: 100vw;
    height: 100vh;
    padding-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 786px) {
  
  .blueBtn{
    width: 30vw;
    height: 7vh;
    background-color: rgb(74, 126, 245);
    border-radius: 12px;
    padding: 1em;
    margin-top: 3em;
    border: 0;
    color: white;
    margin-left: 1em;
  }

  .btnheart{
    background-color: rgba(255, 0, 0, 0.68);
    padding: 0.2em;
  }
}

.container{
  width: 100vw;
  height: 100vh;
  margin-top: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}