.form{
  margin-bottom: 3em;
  margin-left: 1em;
  margin-top: 2em;
  width: 40vw;
}

.form_input{
  margin-top: 0.5em;
  color: white;
  padding: 0.5em;
  background-color: #222121;
  border: 1px solid #3D3B39;
  border-radius: 7.5px;
  box-shadow: 0 5px 4px 0px #1d1c1a4f;
}

.form_submit{
  margin-top: 3em;
  margin-left: 0;
  color: white;
}