.container{
  height: 100vh;
  width: 100vw;
  padding-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.google_btn{
  height: 10vh;
  width: 30vw;
  padding: 2em;
  background-color:  white;
  border-radius: 12px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.loginLogo{
  height: 5vh;
  width: 5vh;
}

@media screen and (max-width: 786px) {
  .google_btn{
    height: 10vh;
    width: 80vw;
    padding: 2em;
    background-color:  white;
    border-radius: 12px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
}

@media screen and (min-width: 786px) {
  
}