@media screen and (min-width: 786px) {
  .logo{
    background-color: white;
    height: 10vh;
    border-radius: 50px;
  }
  
  .main{
    padding-top: 1em;
    height: 100%;
  }
  
  .main_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }
  
  .link_block{
    height: 30vh;
    width: 100%;
    background-color: #272522;
    padding: 1em;
  }
  
  .long_block{
    max-height: 100%;
    width: 100%;
    background-color: #272522;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 12px;
    
    h3{
      color: rgb(187, 183, 183);
    }

    hr{
      margin-top: 1em;
    }
  }
  
  .link_block_create{
    border: 2px solid rgba(211, 211, 211, 0.269); 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



@media screen and (max-width: 786px) {
  .main{
    height: 90vh;
    overflow-y: scroll;
  }

  .main_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    max-height: 100vh;
    padding: 0.5em;
    padding-bottom: 1em;
    border: 2px solid red;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  
  .long_block{
    position: absolute;
    background-color: #272522;
    padding: 1em;
    border-radius: 25px 25px 0px 0px;
    height: 100%;
    z-index: 100;
    margin-top: 100%;
  }
}
