@import '../../../theme/variables.scss';

@media screen and (min-width: 786px) {
  .card{
    min-height: 15vh;
    padding: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;
    background-color: #272522;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(53, 53, 53);

    a{
      color: rgba(255, 255, 255, 0.635);
      text-decoration: none;
      margin-top: 1em;
      cursor: pointer;
      transition: 0.5s;
      
      &:hover{
        color: rgb(255, 255, 255);
      }

      span{
        margin-left: 1em;
        color: rgba(211, 211, 211, 0.519);
      }
    }

    strong{
      color: rgba(255, 255, 255, 0.499); 
    }

    img{
      min-width: 20vw;
      margin-right: 1em;
      border-radius: 12px;
    }

    footer{
      margin-top: 1em;
      color: white;
    }
  }

  .content_preview{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .preview{
    color: rgba(220, 220, 220, 0.892);
    margin-top: 1em;
    width: 85%;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 786px) {
  .container{
    height: 100%;
  }

  .post_title{
    margin-bottom: 2em;
    text-decoration: underline;
    color: #303030e4;
    font-size: medium;
  }

  .likes{
    position: absolute;
    bottom: 0px;
    color: rgb(249, 44, 44);
    left: 0;
    font-size: small;
    padding: 0.5em;
    border-radius: 0px 0px 0px 12px;
  }
}

