@import '../../../theme/variables.scss';

@media screen and (min-width: 786px) {
  .container{
    border: 2px solid black;
    padding: 2em;
    width: 70vw;
    margin-bottom: 1em;
  }

}

@media screen and (max-width: 786px) {
  .container{
    background-color: $light-secondary-bg;
    border: 1px solid rgba(0, 0, 0, 0.379);
    width: 100vw;
    padding: 1em;
    margin-bottom: 0.2em;
    position: relative;
    min-height: 50vw;
  }

  .user_nav{
    color: rgba(84, 84, 196, 0.489);
    text-decoration: underline;
  }

  .post_title{
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #303030e4;
    font-size: larger;
  }

  .top_corner{
    position: absolute;
    top: 0px;
    color: white;
    right: 0;
    background: linear-gradient(rgba(137, 165, 225, 0.762), rgba(0, 40, 65, 0.762));
    padding: 0.5em;
  }

  .likes{
    position: absolute;
    bottom: 0px;
    color: rgb(249, 44, 44);
    left: 0;
    font-size: small;
    padding: 0.5em;
    border-radius: 0px 0px 0px 12px;
  }
}

