@import '../../../theme/variables.scss';

@media screen and (min-width: 786px) {
  .container{
    border: 2px solid black;
    padding: 2em;
    width: 70vw;
    margin-bottom: 1em;
  }

}

@media screen and (max-width: 786px) {
  .container{
    height: 100%;
  }

  .post_title{
    margin-bottom: 2em;
    text-decoration: underline;
    color: #303030e4;
    font-size: medium;
  }

  .likes{
    position: absolute;
    bottom: 0px;
    color: rgb(249, 44, 44);
    left: 0;
    font-size: small;
    padding: 0.5em;
    border-radius: 0px 0px 0px 12px;
  }
}

