@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

.small_title{
  margin-top: 1em;
  color: var(--color-text);
}

.title{
  margin-bottom: 1em;
  color: var(--color-text);
}

.card{
  @include section(100%, 100%, 18.5px);
  background: #272522;
  border-radius: 12px;
  color: #b6b5b5;
} 

