@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

.small_title{
  margin-top: 1.5em;
  color: var(--color-text);
  display: flex;
  
  img {
    height: 44px;
    width: 44px;
    border-radius: 12px;
    margin: 0;
  }
  
}
.title{
  margin-bottom: 0.25em;
  color: #b6b5b5;
  font-size: 38px;
}
.subtitle {
  font-weight: normal;
  font-size: 19px;
}
.userprofilepicture {
margin-right: 12px;
}
.user-blog {
  text-decoration: none;
  font-weight: 600;
}
.postcontent {
font-size: 17px;
}

.card{
  color: #b6b5b5;
  width: 720px;
  margin: auto;
  padding-top: 2em;
  
  img {
    max-width: 100%;
    margin: 1.75em 0;
  }
} 

