@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

.small_title{
  margin-top: 1em;
  color: var(--color-text);
}

.title{
  margin-bottom: 0.25em;
  color: #b6b5b5;
  font-size: 38px;
}
.subtitle {
  font-weight: normal;
  font-size: 19px;
}
.postcontent {
font-size: 17px;
}

.card{
  color: #b6b5b5;
  width: 720px;
  margin: auto;
  padding-top: 2em;
  
  img {
    max-width: 100%;
    margin: 1.75em 0;
  }
} 

