@media screen and (min-width: 786px) {
  .logo_container{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo{
    height: 17vw;
    width: 17vw;
  }
}

@media screen and (max-width: 786px) {
  .logo_container{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
  }

  .logo{
    height: 60vw;
    width: 60vw;
  }
}