.admin_section{
  height: 100%;
  width: 100vw;
}

.wrapper{
  padding-bottom: 30vh;
}

.createPost{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  flex-direction: row;
  background-color: rgba(65, 65, 65, 0.776);
  margin-bottom: 1em;
}

.submit{
  height: 7vh;
  width: 30vw;
  margin-bottom: 2em;
  background-color: #046cac;
  color: white;
  border-radius: 12px;
  border: none;  
}

.text_area{
  width: 100%;
  height: 55vh;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 12px;
  padding: 1em;
  border: 3px solid rgb(36, 88, 194);
}

.title{
  font-size: xx-large;
  color: #303030ce;
}

.input{
  height: 6vh;
  width: 50vw;
  padding: 1em;
  border: 2px solid rgb(73, 140, 162);
  border-radius: 12px;
}

.loadBtn{  
  height: 6vh;
  width: 50vw;
  padding: 1em;
  margin-left: 1em;
  margin-top: 1em;
  border: none;
  background-color: rgb(73, 140, 162);
  border-radius: 12px;
  color: white;
}