.toast_btn{
  height: 5vh;
  width: 20vw;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(50, 99, 196);
}

.loadBtn{
  height: 5vh;
  width: 40vw;
  cursor: pointer;
  background-color: #9E57DC;
  border: none;
  margin-top: 1em;
  margin-left: 30vw;
  color: white;
  font-size: medium;
  font-weight: 600;
  border-radius: 12px;
}

.container{
  margin-bottom: 10em;
}