.toast_btn{
  height: 5vh;
  width: 20vw;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(50, 99, 196);
}

.loadBtn{
  height: 5vh;
  width: 30vw;
  cursor: pointer;
  background-color: #9e56da;
  color: white;
  font-size: larger;
  font-weight: 600;
  border-radius: 12px;
}