.navbar{
  height: 100vh;
  width: 220px;
  background: #272522;
  color: var(--colors-text);
  position: fixed;
  top: 0;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
  z-index: 99;
  display: flex;
  justify-content: center;
}

.logo{
  background-color: #303030;
  margin-bottom: 2em;
  background-image: url('https://i.imgur.com/YeqM8du.png');
  height: 10vh;
  background-size: cover;
  width: 10vh;
  border-radius: 50%;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2em;
}

.pushRight{
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 0;
}

.ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.li{
  width: 100%; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_btn{
  width: 180px;
  height: 40px;
  color: white;
  background-color: #272522;
  border: none;
  &:hover{
   
    background-color: #303030;
  }
}

.li_profile{
  margin-top: 10em;
}

.list_last{
  margin-top: 10em;
}

@media screen and (max-width: 786px) {
  .navbar{
    width: 100vw;
    min-height: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -12px 25px -17px rgba(110,110,110,1);
    -moz-box-shadow: 0px -12px 25px -17px rgba(110,110,110,1);
    box-shadow: 0px -12px 25px -17px rgba(110,110,110,1);
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: bold;
    z-index: 99;
  }

  .linkList{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
  }

  .btnBlue{
    color: #8a8989d0;
    font-weight: 500;
    background-color: white;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-small;
    font-weight: 600;
  }

  .img{
    height: 2.2vh;
    width: 100%;
    display: none;
  }
}

