.link_block{
  height: 154px;
  width: 100%;
  background-color: #272522;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 7.5px;
  box-shadow: 0 5px 4px 0px #1d1c1a;
}

.link_block:hover{
  background-color: #212120;
}

.white_icon{
  height: 80px;
}