@import '../../../theme/variables.scss';

@media screen and (min-width: 786px) {
  
}

@media screen and (max-width: 786px) {

  .heading{
    font-size: larger;
  }

  .circularImg{
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
  }
  
  .container{
    background-color: $light-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .text{
    margin-top: 1em;
    font-size: large;
  }

  .badge_container{
    width: 100vw;
    overflow-x: scroll;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
  }

  .scrollable{
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .badgeBlock{
    width: 40vw;
    padding: 1em;
    border-radius: 12px;
    height: 20vh;
    background: linear-gradient(lightgray, black);
    margin-right: 1em;
    color: rgba(255, 255, 255, 0.734);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
  }

  .user{
    margin-top: 1em;
    font-size: large;
    color: #5f5f5fbb;
  }

  .award_img{
    height: 7vh;
    margin-bottom: 0.5em;
  }
}

