@media screen and (max-width: 786px){
  .header{
    background-color: #016da8;
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    z-index: 100;
    color: white;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1em;
    font-weight: 500;
  }
  
}

@media screen and (min-width: 786px){
  .header{
    display: none;
  }
  
}