@import '../../../theme/variables.scss';

@media screen and (max-width: 786px){
  .header{
    background-color: $light-highlight-color3;
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100vw;
    z-index: 100;
    color: rgba(255, 255, 255, 0.645);
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0.5em;
    font-weight: 500;
  }
  
  .logo_img{
    height: 5vh;
    filter: brightness(0) invert(0.2);
  }
}

@media screen and (min-width: 786px){
  .header{
    display: none;
  }
  
}